@model List<AlunoModel>
@{
    ViewData["Title"] = "Alunos";
}

<!DOCTYPE html>
<html>
<head>
    <title>Alunos</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <style>

        .logo {
            width: auto;
            height: 50px;
            background: 0;
        }

        /* Ajuste a posição vertical do campo de entrada */
        .form-group {
            top: 30px; /* Ajuste este valor para controlar a altura da subida */
        }

        a {
            text-decoration: none;
        }

        .aviso {
            width: 300px;
            height: 150px;
            background-color: #CCEEEE;
            padding: 10px;
            top: 20px;
            left: 998px;
            border-radius: 20px;
            text-align: center;
        }

        .perfil {
            text-align: left;
            background: #EEE5E1;
            width: 208px; /* ajuste conforme necessário */
            height: auto;
            border-radius: 5px;
            display: grid;
        }

        #buscar {
            width: 343px;
            height: 51px;
            top: 30px;
            right: 1px;
            align-content: center;
            cursor: pointer;
        }

        h1 {
            font-family: Zen Kaku Gothic Antique;
            font-size: 31px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: -0.5px;
            text-align: left;
            width: 380px;
            height: 37px;
            top: 20px; /* Aumente ou diminua o valor para ajustar a posição vertical */
            left: 291px;
            padding: 5px;
        }
        .custom-margin-right {
            margin-left: 140px; /* Ajuste o valor da margem conforme necessário */
        }

        .d-grid {
            margin-left: 265px; /* Ajuste o valor da margem conforme necessário */
        }
        /* Estilos para a tabela */
        #table-usuarios {
            width: 80%; /* Aumenta a largura da tabela */
            margin: 20px auto;
            border-collapse: collapse; /* Colapsa as bordas da tabela */
        }

        /* Estilos para a mensagem de "Nenhum Usuário Encontrado" */
        .no-users {
            text-align: center;
        }

        /* Estilos para as células da tabela (exceto células dos botões) */
        #table-usuarios td, #table-usuarios th {
            text-align: center; /* Centraliza o conteúdo das células */
            font-size: 16px; /* Aumenta o tamanho da fonte */
            padding: 10px; /* Adiciona espaço interno para as células */
            border: 1px solid #ddd; /* Adiciona uma borda fina às células */
        }

        /* Estilos para as linhas ímpares */
        #table-usuarios tr:nth-child(odd) {
            background-color: #CEEAF7;
            /* Cor de fundo para linhas ímpares */
        }
    </style>
</head>
<body class="home-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group mb-3" id="buscar">
                        <h1>PROCURE</h1>
                        <input type="text" class="form-control" placeholder="Procure sua turma" aria-label="Campo de busca" aria-describedby="icone-lupa">
                        <span class="input-group-text" id="icone-lupa">
                            <ion-icon name="search-outline"></ion-icon>
                        </span>
                    </div>
                </div>
                <div class="aviso">
                    <strong>AVISO</strong>
                    <img src="~/alert.png" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <script>
        $(document).ready(function () {
            // Inicialize o DataTable
            $('#table-usuarios').DataTable();

            // Adicione a funcionalidade de filtro
            $('#buscar input').on('keyup', function () {
                $('#table-usuarios').DataTable().search($(this).val()).draw();
            });
        });
    </script>
    <div class="container text-center custom-margin-right">
        @* <h1 class="display-4">Listagem de Alunos</h1> *@

        <table id="table-usuarios" class="display">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Celular</th>
@*                     <th scope="col">DataNascimento</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">NomeDoResponsavel</th>
                    <th scope="col">TelefoneDoResponsavel</th> *@
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (AlunoModel aluno in Model)
                    {
                        <tr>
                            <th scope="row">@aluno.Id</th>
                            <td>@aluno.Nome</td>
                            <td>@aluno.CPF</td>
                            <td>@aluno.Celular</td>
@*                             <td>@aluno.DataNascimento</td>
                             <td>@aluno.Endereco</td>
                            <td>@aluno.NomeDoResponsavel</td>
                            <td>@aluno.TelefoneDoResponsavel</td>  *@
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" asp-action="Editar" asp-controller="Aluno" asp-route-id="@aluno.Id" class="btn btn-primary">Editar</a>
                                    <a role="button" asp-action="ApagarConfirmacao" asp-controller="Aluno" asp-route-id="@aluno.Id" class="btn btn-primary">Apagar</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="odd">
                        <td class="no-users" colspan="7">Nenhum Usuário Encontrado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Aluno" asp-action="Criar" role="button">Adicionar novo Aluno</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
    </div>
</body>
</html>