@using Singular.Enums;
@model AlterarSenhaModel

@{
    ViewData["Title"] = "Alterar senha do usuário";
}
<div class="text-center">
    <h1 class="display-4">Alterar Senha</h1>
</div>

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-sucess" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dmiss="alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dmiss="alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="AlterarSenha" asp-action="Alterar" method="post">

    <div class="form-group">
        <label for="senhaAtual" class="form-label">Senha Atual</label>
        <input type="password" asp-for="SenhaAtual" class="form-control" placeholder="Digite sua senha atual" />
        @Html.ValidationMessageFor(x => x.SenhaAtual)
    </div>

    <div class="form-group">
        <label for="novaSenha" class="form-label">Nova Senha</label>
        <input type="password" asp-for="NovaSenha" class="form-control" placeholder="Digite a nova senha" />
        @Html.ValidationMessageFor(x => x.NovaSenha)
    </div>

    <div class="form-group">
        <label for="confirmarSenha" class="form-label">Confirmar a nova senha</label>
        <input type="password" asp-for="ConfirmarSenha" class="form-control" placeholder="Confirme a nova senha" />
        @Html.ValidationMessageFor(x => x.ConfirmarSenha)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secundary btn-block" asp-action="Index" asp-controller="Home" role="button">Voltar</a>
</form>